/* ---------------------------///////////-----------------------DARK MODE CODETEMP------------------------///////////----------------------------- */
.dark #Blog1 {
    background: #222
}
.dark #HTML7 h3.title {
    background: #222;
    border-bottom: 1px solid #312f40;
}

.dark .projectCont {
    border-bottom: 1px solid #312f40;
}

.switch-wiew {
    width: 18px;
    height: 18px;
    cursor: pointer
}

.theme .text {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
    padding: 5px 0
}

.theme .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    margin: 0 5px 0 10px;
    vertical-align: 0;
    color: #a02b2b;
}

.theme .switch input {
    display: none
}

.theme .geser {
    background-color: #c7c7c7;

    position: absolute !important;
    outline: 0;
    width: 40px;
    height: 10px;
    padding: 0 !important;
    cursor: pointer;
    border-radius: 100px;
    transition: all .3s ease;
    user-select: none;
}

.theme .geser::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0;
    top: -7px;
    transition: .4s;
}

.theme input:checked+.geser {
    background-color: #748899
}

.theme input:focus+.geser {
    box-shadow: 0 0 1px #000
}

.theme input:checked+.geser:before {
    transform: translateX(17px)
}

.theme .geser.round {
    border-radius: 34px
}

.theme .geser.round::before {
    border-radius: 50%;
    background: #fff url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.55,18.54L4.96,19.95L6.76,18.16L5.34,16.74M11,22.45C11.32,22.45 13,22.45 13,22.45V19.5H11M12,5.5A6,6 0 0,0 6,11.5A6,6 0 0,0 12,17.5A6,6 0 0,0 18,11.5C18,8.18 15.31,5.5 12,5.5M20,12.5H23V10.5H20M17.24,18.16L19.04,19.95L20.45,18.54L18.66,16.74M20.45,4.46L19.04,3.05L17.24,4.84L18.66,6.26M13,0.55H11V3.5H13M4,10.5H1V12.5H4M6.76,4.84L4.96,3.05L3.55,4.46L5.34,6.26L6.76,4.84Z' fill='%233577ff'/%3E%3C/svg%3E") center / 18px no-repeat
}

.theme input:checked+.geser.round::before {
    border-radius: 50%;
    background: #1d2129 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.75,4.09L15.22,6.03L16.13,9.09L13.5,7.28L10.87,9.09L11.78,6.03L9.25,4.09L12.44,4L13.5,1L14.56,4L17.75,4.09M21.25,11L19.61,12.25L20.2,14.23L18.5,13.06L16.8,14.23L17.39,12.25L15.75,11L17.81,10.95L18.5,9L19.19,10.95L21.25,11M18.97,15.95C19.8,15.87 20.69,17.05 20.16,17.8C19.84,18.25 19.5,18.67 19.08,19.07C15.17,23 8.84,23 4.94,19.07C1.03,15.17 1.03,8.83 4.94,4.93C5.34,4.53 5.76,4.17 6.21,3.85C6.96,3.32 8.14,4.21 8.06,5.04C7.79,7.9 8.75,10.87 10.95,13.06C13.14,15.26 16.1,16.22 18.97,15.95M17.33,17.97C14.5,17.81 11.7,16.64 9.53,14.5C7.36,12.31 6.2,9.5 6.04,6.68C3.23,9.82 3.34,14.64 6.35,17.66C9.37,20.67 14.19,20.78 17.33,17.97Z' fill='%23fff'/%3E%3C/svg%3E") center / 18px no-repeat;
}

.theme .geser.round:hover::before {
    box-shadow: rgba(150, 150, 150, .5) 0 1px 3px, rgba(150, 150, 150, .1) 0 0 0 10px;
}
.dark body {
    background: #16151d;
    color: #fff
}

.dark .th {
    background: #222
}

.dark a {
    color: #ccc
}

.dark .sidebar .widget {
    background: #222
}

.dark .cover {
    background: #222
}

.dark #HTML2 h3.title,
.dark #relatedpost,
.dark .sidebar .widget h3,
.dark #LinkList3 ul li,
.dark .releases.home,
.dark span.label-size.label-size,
.dark h2.heading,
.dark .ephead,
.dark .grup-judul,
.dark .latest h3.title,
.dark #chapter .chapterlist .tit,
.dark .post-manga,
.dark #PopularPosts4 h3.title,
.dark #re-spoiler h2.judul-pop,
.dark .search-title h2,
.dark #PopularPosts1 li,
.dark #PopularPosts2 li,
.dark #PopularPosts3 li,
.dark .chapt-tit {
    border-bottom: 1px solid #312f40
}

.dark .sidebar .widget h3 {
    background: #222;
    color: #fff
}

.dark .PopularPosts ul,
.dark #PopularPosts4 h3.title,
.dark .search-title h2,
.dark div.filter.search,
.dark #re-spoiler h2.judul-pop,
.dark #re-spoiler,
.dark .releases.home {
    background: #222
}

.dark .PopularPosts ul li {
    background-color: #222
}

.dark .PopularPosts ul li .item-title a {
    color: rgb(255, 255, 255)
}

.dark .PopularPosts ul li a,
.dark .descManga b,
.dark .judulAlt b,
.dark .mangaInfo .infonya b,
.dark .genreManga b {
    color: rgb(255, 255, 255)
}

.dark .descManga,
.dark .judulAlt,
.dark .mangaInfo .infonya span,
.dark .kata-kunci {
    color : rgb(214 214 214);
}

.dark .bixbox {
    background: #222;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1)
}

.dark .chapt-tit h2,
.dark .releases.home h1 {
    color: #fff
}

.dark .bxcl ul li .chbox {
    background: #222;
    border: 1px solid #333
}

.dark .bxcl ul li .chbox:hover {
    background: #333
}

.dark #myInput,
.dark #BlogSearch1 .search-input input {
    background: #343434;
    border: 1px solid #464357;
    color: #ccc
}

.dark #kaki {
    background: #222
}

.dark .kaki-az span.ftaz {
    color: #ccc
}

.dark .kaki-az span.size-s {
    color: #ccc
}

.dark .kaki-info .infonya {
    color: #ccc
}

.dark #relatedpost {
    background: #222
}

.dark h2.heading {
    color: #ccc
}

.dark .rating,
.dark .sinfo,
.dark .tinfo {
    background: #333
}

.dark .breadcrumbs {
    background: #222;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1)
}

.dark .nav-tab a {
    color: #333
}

.dark .widget-content.cloud-label-widget-content:before {
    background: #262432
}

.dark .widget-content.cloud-label-widget-content:after {
    background: #252432
}

.dark .random-post.section {
    background: #222
}

.dark .latest {
    background: #222;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1)
}

.dark span.post-update {
    color: #ccc
}

.dark .mindesc {
    color: #ccc
}

.dark .spe {
    color: #ccc
}

.dark .desc {
    color: #ccc
}

.dark .infox h1 {
    color: rgb(255, 255, 255)
}

.dark .sinoposis {
    color: #ccc
}

.dark .dl ul li,
.dark #re-spoiler ul#tabs,
.dark #Label3 .ISHide a,
.dark #Label1 .ISHide a {
    background: #333
}

.dark #Label3 .ISHide a:hover,
.dark #Label1 .ISHide a:hover {
    background: #d0d0d0;
    color: #333
}

.dark #Label1 ul,
.dark #Label3 ul {
    background: #333
}

.dark #Label3 ul li a.label-name,
.dark #Label1 ul li a.label-name {
    color: #ccc
}

.dark .abjad a {
    background: #333;
    color: #fff
}

.dark .content-list ul li {
    color: #ccc
}

.dark .keyword {
    background: #222;
    color: #ccc
}

.dark .comment {
    background: #333;
    color: #ccc
}

.dark .comment-replies .comment {
    background: #444 !important
}

.dark .kata-kunci {
    border-top: 1px solid #312f40
}

.dark .recent-chapter ul li {
    color: #ccc
}

.dark #chapter .chapterlist ul li {
    border-bottom: 1px solid #232423
}

.dark #chapter .chapterlist ul li span {
    border-right: 1px solid #232423;
    color: #ccc
}

.dark #chapter .chapterlist ul li:hover,
.dark #animeinfos .episodelist ul li:nth-child(odd):hover {
    background-color: #312e2e
}

.dark .genreManga a {
    background: #343434;
    color: #fff;
    border: .5px solid #ff5d5d;
}

.dark #OutputDiv li.postItem {
    border-bottom: 1px solid #312f40
}

.dark .filtSubmit {
    background: #222
}

.dark button.dropdown-toggle {
    background: #333;
    color: #ccc
}

.dark .dropdown-list {
    background: #333
}

.dark .dropdown-list li input+label {
    color: #ccc
}

.dark .dropdown-list li input+label:before {
    background: #444
}

.dark .ep-tit h2 {
    color: rgb(255, 255, 255)
}

.dark .ep-tit {
    border-bottom: 1px solid #312f40
}

.dark .search-title h2 {
    color: #fff
}

.dark button.dropdown-toggle:hover {
    background: #d0d0d0;
    color: #333
}

.dark .cover {
    background: #222
}
.dark .fitur-top {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.dark .annx {
    padding: 13px 20px;
    background: #222;
    border-radius: 6px;
    font-size: 13.5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    text-align: center;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 15px;
}
.dark .judul-chapter h1 {
    margin: 0;
    font-size: 2em;
    line-height: normal;
    font-weight: 600;
    color: #ddd;
}

.dark #tags-chap {
    color: white;
}

.dark select.select-chapter {
    background: #333;
    color: #999;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 13px;
    padding: 5px 10px;
    outline: 0;
    font-family: inherit;
}

.dark #prevjs #prevch {
    float: left;
    color: #999;
    background: #333;
}
.dark #nextjs #nextch {
    float: right;
    color: #999;
    background: #333;
}
.dark .chaptertag {
    margin: 0 auto;
    margin-bottom: 15px;
    background: #222;
    overflow: hidden;
    border-radius: 3px;
    padding: 0 15px;
    color: white;
    font-size: 13px;
}
.dark .chaptertag p {
    color: white;
    
}
.dark h2.heading {
    background: #222;
    border-bottom: 1px solid #383838;
    color: #cacccb;
}
.dark a {
    color: rgb(255, 255, 255);
}
.dark .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #333;
    border-radius: 0.35rem;
}
.dark .breadcrumb-item.active {
    color: #e6e6e6;
}
.dark .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
  }

/* ------------------------------------------------------------End of Dark Mode--------------------------------------------------------------- */